body {
    max-width: 40em;
    margin: auto;
    margin-top: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16pt;
    color: hsla(0, 0%, 3%, 1);

    background: hsla(0, 0%, 97%, 1);
}

h1 {
    font-size: 18pt;
    font-family: "Futura", "Arial Narrow", sans-serif;
    text-align: center;
}

.item-checkbox {
    margin: 0 0 0.5em 0;
}

input[type='checkbox'] {
    padding: 6px;
    margin-right: 10px;
    transform: scale(1.5);
}

input[type='checkbox']:checked + label {
    text-decoration: line-through hsla(0, 0%, 50%, 1);
    color: darkgray;
}

div#controls {
    float: right;
}

div#controls button {
    color: darkgreen;
}

div#controls button#clear {
    color: orangered;
}
